{% load staticfiles %}
{% load bbcode_tags %}
<!DOCTYPE html>
<html lang='en'>
    
<head>
    

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/base.css" rel="stylesheet" media="screen">

    
    {% block title %}
{% endblock %}
{% block stylesheet %}
{% endblock %}
<style>
    {% block styles %}
{% endblock %}
   </style> 
</head>    
<body style='background-color: #E6E6E6'>
    



<div id="custom-bootstrap-menu" class="navbar navbar-default fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header"><a class="navbar-brand" href="#">It's Pizza Time!</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-menubuilder">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="{% url 'main' %}">Home</a>
                </li>
                <li><a href='#' id='bbcode'>BBcode Tips</a></li>
                </li>
                <li><a href="#"></a>
                </li>

            </ul>

      <ul class="nav navbar-nav navbar-right" role='navigation'>
            <li><a href='{% url "profiles:profile_index" %}'>All Profiles</a></li>
            {% if request.user.is_authenticated == True %}
                <li><a href="{% url 'profiles:profile' request.user.profile.slug %}">My Profile</a></li>
            <li><a href="{% url 'logout' %}">Log Out</a></li>
            
        {% else %}
            
            <li><a href="{% url 'login' %}">Log In</a></li>
            <li><a href="{% url 'register' %}">Register</a></li>
        {% endif %}
          </ul>


        </div>
    </div>
</div>
<div id='dialog-bbcode' title='How to use BBCode in the forums and in private messages'>
    <p style='color:black'>This forum uses Django-Precise-BBCode.
    You can find the documentation
    <a href='http://django-precise-bbcode.readthedocs.org/en/1.0.8/index.html'>here</a>.</p>
    <table class='table' style='overflow: scroll; height: 500px;'>
        
        <thead>
            
            <th>BBCode</th>
            <th>Function</th>
            <th>Options</th>
            <th>Examples</th>
        </thead>
        <tbody>
            <tr>
                <td>B</td>
                <td>creates bold text</td>
                <td></td>
                <td>[b]bold text[/b]</td>
            </tr>
            <tr>
                <td>i</td>
                <td>creates italic text</td>
                <td></td>
                <td>[i]italics text[/i]</td>
            </tr>
            <tr>
                <td>u</td>
                <td>creates underlined text</td>
                <td></td>
                <td>[u]underlined text[/u]</td>
            </tr>
            <tr>
                <td>s</td>
                <td>strikes through text</td>
                <td></td>
                <td>[s]strike text[/s]</td>
            </tr>
            <tr>
                <td>list</td>
                <td>creates an unordered list</td>
                <td>1: ordered list, A: ordered list (alphabetic)</td>
                <td>[list][*]one[*]two[/list], [list=1][*]one[*]two[/list]</td>
            </tr>
            <tr>
                <td>*</td>
                <td>creates a list item</td>
                <td></td>
                <td>[list][*]one[*]two[/list]</td>
            </tr>
            <tr>
                <td>code</td>
                <td>retains all formatting</td>
                <td></td>
                <td>[code][b]example[/b][/code]</td>
            </tr>
            <tr>
                <td>quote</td>
                <td>creates a blockquote</td>
                <td></td>
                <td>[quote]quoted string[/quote]</td>
            </tr>            
            <tr>
                <td>center</td>
                <td>creates a centered block</td>
                <td></td>
                <td>[center]example[/center]</td>
            </tr>
            <tr>
                <td>color</td>
                <td>changes text color</td>
                <td></td>
                <td>[color=red]red text[/color], [color=#FFFFFF]white text[/color]</td>
            </tr>
            <tr>
                <td>url</td>
                <td>makes a url</td>
                <td></td>
                <td>[url]http://example.com[/url]</td>
            </tr>
            <tr>
                <td>img</td>
                <td>makes an image</td>
                <td></td>
                <td>[img]http://xyz.com/logo.png[/img]</td>
            </tr>        
            
            
            
            
            
        </tbody>
        
        
        
        
        
    </table>
</div>
<div class='container'>
    
{% block breadcrumb %}
    
{% endblock %}


{% block content %}

{% endblock %}

{% block paginator %}
{% endblock %}

<div class='container'>

{% block footer %}

{% endblock %}


</div>



<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/start/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.js"></script>
 
<script>
    $(document).ready(function(){
        $(function(){
            $('#dialog-bbcode').dialog({
                autoOpen: false,
                modal:true,
                width:1000,
                height:500,
                show: {
                    effect: 'blind',
                    duration:200
                },
                hide: {
                    effect: 'explode',
                    duration: 200
                },
            });
            $('#bbcode').click(function(){
                $('#dialog-bbcode').dialog('open');
                
            });
        });
        
        
        
        
        {% block jquery %}
        {% endblock %}
    });
    
    
    
</script>
</body>    
    
    
    
    
    
</html>
    