{% extends 'base.html' %}


{% block title %}

<title>Forums Index</title>

{% endblock %}

{% block stylesheet%}
    <link rel='stylesheet' href='{{STATIC_URL}}index.css'>
{% endblock %}

{% block styles %}


    
{% endblock %}


{% block content %}
    
{% for category in object_list %}
<div class="{% cycle 'panel panel-general' 'panel panel-entertainment' 'panel panel-work' %}">

  <div class="panel-heading">{{ category.title }}</div>


  <table class="table">
    <thead>
        <tr><th class='col-sm-6'>Title</th><th class='col-sm-2'>Most Popular Thread</th>
            <th class='col-sm-1'>Posts</th><th class='col-sm-2'>Moderators</th></tr>
        
    </thead>
    <tbody>
        {% for forum in category.forum_set.all %}
            <tr>
                <td><a href='{{ forum.get_absolute_url }}'>{{ forum.title}}</a></td>
                <td><a href='{{forum.get_most_popular_thread_url }}'>
                {{ forum.get_most_popular_thread }}</a></td>
                <td>{{ forum.get_num_posts }}</td>
            
            
            <td></td></tr>
        {% endfor %}
    </tbody>
  </table>
</div>


{% endfor %}



    
{% endblock %}