{% extends 'base.html'%}


{% block title %}
    <title>{{ forum.title }} - New Thread</title>
{% endblock %}

{% block stylesheet %}
{% if forum.custom_css %}
  <link rel='stylesheet' href='{{MEDIA_URL}}{{forum.custom_css}}'>
{% else %}
  {% endif %}
{% endblock %}



{% block content %}
{{ forum }}

<div class="panel panel-general">

  <div class="panel-heading text-center">Make a new thread!</div>


  <table class="table table-bordered-general">

    <tbody>

        <tr><td class='col-sm-2'>{% if request.user.is_authenticated == True %}
          <p><a href='{{ request.user.profile.get_absolute_url }}'>{{request.user}}</p>
                  <img src='{{MEDIA_URL}}{{ request.user.profile.avatar }}' class='img-responsive'>
                  {% else %}
                  {% endif %}</td>
            <td>
                <form method='POST' action=''>{% csrf_token %}
                {{ form.as_p }}
                <input type='submit' value='Submit' class='btn btn-reply' style='margin-left: 400px'/>
                </form>    
            </td>
        </tr>
    </tbody>
  </table>
</div>    
    
    
{% endblock %}

{% block footer %}
    <br><br><br><br><br><br><br><br><br><br><br>
    {% include 'footer.html'%}
    
{% endblock %}