{% extends 'base.html'%}


{% block title %}
    <title>{{object.author}}'s post in "{{object.thread.title}}"</title>
{% endblock %}

{% block stylesheet %}

{% if object.thread.forum.custom_css %}
  <link rel='stylesheet' href='{{MEDIA_URL}}{{object.thread.forum.custom_css}}'>
{% else %}
{% endif %}  
{% endblock %}
{% block content %}


<div class="panel panel-general">
  {% if request.user == object.author and object.thread.is_active == True %}

  <div class="panel-heading">Edit Post in "{{ object.thread.title }}"</div>
{% else %}
<div class="panel-heading">{{object.author}}'s post in "{{ object.thread.title }}"</div>
{% endif %}

  <table class="table table-bordered-general">
    <thead>
        <tr><th class='col-sm-2'>Poster</th><th class='col-sm-10'>Post
        
        <a href='{{ object.link_to_post_in_thread }}' class='pull-right'>Go To Thread Page</a></th></tr>
        
    </thead>
    <tbody>
        
            <tr><td>{{object.author}}</td><td>{{ object.text.rendered|safe }}</td></tr>
       {% if request.user == object.author and object.thread.is_active == True %}
        <tr><td></td>
            <td>
                <form method='POST' action=''>{% csrf_token %}
                {{ form.as_p }}
                <input type='submit' value='send' class='btn btn-reply'style='margin-left:400px'/>
                </form>    
            </td>
        </tr>
      {% else %}
      {% endif %}
    </tbody>
  </table>
</div>    
    
    
{% endblock %}


{% block footer %}
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br>
    
    
    {% include 'footer.html'%}
    
{% endblock %}

