{% extends 'base.html'%}

{% block title %}
    
    <title>{{ object.user.username }}</title>
    
{% endblock %}


{% block jquery %}


 $(function() {
    $( "#dialog" ).dialog({
      autoOpen: false,
      modal: true,
      width: 600,
      show: {
        effect: "blind",
        duration: 200
      },
      hide: {
        effect: "explode",
        duration: 200
      },
      

    });
    
    $( ".update" ).click(function() {

      $( "#dialog" ).dialog( "open" );
      console.log('the second dialog box was opened');
    });    
    
    
    
});
{% endblock %}


{% block content %}
    
 
    
<div class='col-sm-4 col-sm-offset-1'>
    <h1 style='margin-left:100px'>{{ object.user.username }}</h1>

        <hr>
            {% if object.avatar %}
    <img src='{{MEDIA_URL}}{{object.avatar}}' class='img-responsive' style='margin-left:50px'/>
            {% elif request.user == object.user %}
    <p>It looks like you haven't set an avatar yet!</p>
            {% elif request.user != object.user %}
    <p>This person hasn't set an avatar yet!</p>
            {% endif %}
    <h3 style='margin-left:100px'>Info</h3>
    <hr>
            {% if object.description %}
    <p>{{ object.description }}</p>
            {% elif request.user == object.user %}
    <p>Tell us about yourself!</p>
            {% elif request.user != object.user %}
    <p>This person hasn't written a description.</p>
            {% endif %}
    <hr>
            {% if request.user != object.user %}    
    <a href='#' class='btn btn-success' style='margin-left: 70px'>Send Private Message</a>
            {% else %}
    <a href='#' class='btn btn-success update' style='margin-left: 70px'>Update Profile</a>
            {% endif %}
</div>
    
<div class='col-sm-4  col-sm-offset-2'>
    <h1 style='text-align:center'>Posting Stats</h1>
    <table class='table'>
        <thead>
            <th></th>
            <th></th>


        </thead>
        <tbody>
            <tr><td>Postcount</td><td class='pull-right'>{{ object.get_num_posts }}</td></tr>
            <tr><td>Favorite Forum</td><td class='pull-right'>Placeholder</td></tr>
        </tbody>
    </table>
    <hr>
    <h1 style='text-align:center'>Recent Posts</h1>
    <hr>

    <table class='table'>
        {% for post in object.get_last_five_posts %}
        <tr><td><a href='{{ post.get_absolute_url }}'>{{post.thread.title}}</a>
        
        </td><td class='pull-right'>{{ post.created }}</td></tr>
        {% endfor %}
        
        
        
    </table>
</div>

<div class='col-sm-12'><br><br><br><br><hr>
</div>

</div>


<div id="dialog" title="Edit Profile">
 
  <div>

        
        
        
      <form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
      {{ form.as_ul }}
    <input class='btn btn-reply' type='submit' value='Update' style='margin-left: 250px'/></form>


    
    


  </div>
</div> 





{% endblock %}
    
    
{% block footer %}

{% include 'footer.html'%}
{% endblock %}</div>




